{
  "arrowParens": "always",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "semi": false,
  "printWidth": 120,
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-tailwindcss"]
}
