@tailwind base;
@tailwind components;
@tailwind utilities;

$dark: #1d252b;
$light: #ffffff;
$background: #f5f5f5;
$primary: #2eb872;
$secondary: #2b62f0;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

* {
  text-wrap: balance;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $light;
  color: $dark;
}
